<header class="glass-header sticky top-0 z-50 animate-fade-in-down" data-controller="menu search">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16">
        <a href="{{ path('landing') }}" class="text-2xl font-bold text-[var(--color-primary-700)] hover:text-[var(--color-primary-900)] transition-colors">
            <svg width="150" height="36" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2295.8 555.4">
                <defs>
                    <style>
											.cls-1 {
												fill: url(#linear-gradient);
											}

											.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7 {
												stroke-width: 0px;
											}

											.cls-3 {
												fill: url(#linear-gradient-5);
											}

											.cls-4 {
												fill: #fff;
											}

											.cls-8 {
												fill: url(#linear-gradient-6);
												stroke: #000;
												stroke-miterlimit: 10;
												stroke-width: 3px;
											}

											.cls-5 {
												fill: url(#linear-gradient-2);
											}

											.cls-6 {
												fill: url(#linear-gradient-3);
											}

											.cls-7 {
												fill: url(#linear-gradient-4);
											}
                    </style>
                    <linearGradient id="linear-gradient" x1="295" y1="611.76" x2="586.14" y2="64.37" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#8a54d0"/>
                        <stop offset="1" stop-color="#a967ff"/>
                    </linearGradient>
                    <linearGradient id="linear-gradient-2" x1="535.73" y1="674.09" x2="81.19" y2="219.55" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#b875fc"/>
                        <stop offset="1" stop-color="#ba76ff"/>
                    </linearGradient>
                    <linearGradient id="linear-gradient-3" x1="720.51" y1="489.31" x2="265.97" y2="34.77" xlink:href="#linear-gradient-2"/>
                    <linearGradient id="linear-gradient-4" x1="800.86" y1="408.96" x2="346.32" y2="-45.58" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#7e4dbe"/>
                        <stop offset="1" stop-color="#9d60ed"/>
                    </linearGradient>
                    <linearGradient id="linear-gradient-5" x1="744.22" y1="465.61" x2="289.68" y2="11.07" xlink:href="#linear-gradient-4"/>
                    <linearGradient id="linear-gradient-6" x1="1612.87" y1="149.75" x2="1683.71" y2="149.75" xlink:href="#linear-gradient"/>
                </defs>
                <g>
                    <path class="cls-2" d="m586.72,526.65l-70.54-79.36,2.14-61.36,41.85-23.56,11.03,29.82,74.52-68.47v-128.19h42.64l-111.04-122.57,16.87-12.53L539.89,0h-105.2l-51.32,56.66h-40.22l-75.38,71.89h121l34.45,34.24h-46.62L0,541.24l187.7-81.43-64.13,47.55,124.85-18.01-24.91,48.54,111.04-55.16,33.74,23.28,8.26,20.64h-22.78l-28.76,28.76h332.97l-28.69-28.76h-42.56Zm-181.65,0v-76.94l34.24-19.29,97.16,96.23h-131.4Z"/>
                    <path class="cls-1" d="m585.1,530.24l-72.49-81.66,2.26-64.8,47.19-26.58,10.62,28.79,69.48-63.83v-130.19h38.17l-108.26-119.54,16.88-12.51-50.69-56.34h-102l-51.34,56.65h-40.36l-67.91,64.78h113.6l41.62,41.3h-53.82L15.68,530.55l199.01-86.36-77.61,57.57,117.67-16.9-23.16,45.06,103.26-51.32,36.31,25.05,10.62,26.58h-26.58l-21.61,21.61h315.76l-21.58-21.61h-42.68Zm-183.59,0v-82.6l38.43-21.67h0s0,0,0,0l105.15,104.26h-143.6Z"/>
                    <polygon class="cls-5" points="404.48 166.31 62.19 510.38 15.68 530.56 378.05 166.31 404.48 166.31"/>
                    <polygon class="cls-6" points="370.99 60.23 303.09 125.01 276.65 125.01 344.56 60.23 370.99 60.23"/>
                    <polygon class="cls-7" points="462.69 3.58 411.35 60.23 384.91 60.23 436.26 3.58 462.69 3.58"/>
                    <polygon class="cls-3" points="458.3 166.31 431.87 166.31 390.25 125.01 416.68 125.01 458.3 166.31"/>
                </g>
                <g>
                    <g class="logo-letter">
                        <path class="cls-4" d="m985,436.89l-62.66-110.68h-24.48v110.68h-59.97V149.88h108.11c22.11,0,41.22,3.95,56.82,11.75,15.65,7.83,27.57,18.57,35.41,31.91,7.83,13.33,11.8,28.44,11.8,44.91,0,18.95-5.57,36.29-16.56,51.54-10.69,14.82-26.61,25.31-47.35,31.18l68.29,115.72h-69.42Zm-41.03-156.4c14.98,0,26.26-3.62,33.53-10.76,7.26-7.13,10.94-17.25,10.94-30.06s-3.68-22.36-10.92-29.23c-7.28-6.88-18.57-10.37-33.55-10.37h-46.11v80.41h46.11Z"/>
                        <path class="cls-2" d="m946,151.38c21.97,0,40.69,3.86,56.15,11.59,15.46,7.73,27.06,18.18,34.79,31.33,7.73,13.16,11.6,27.87,11.6,44.15,0,18.72-5.43,35.61-16.28,50.66-10.85,15.06-27,25.43-48.42,31.13l67.95,115.15h-65.92l-62.66-110.68h-26.86v110.68h-56.97V151.38h106.61m-49.64,130.61h47.61c15.46,0,26.99-3.73,34.58-11.19,7.59-7.46,11.39-17.84,11.39-31.13s-3.8-23.12-11.39-30.31c-7.6-7.18-19.12-10.78-34.58-10.78h-47.61v83.41m49.64-133.61h-109.61v290.01h62.97v-110.68h22.11l61.8,109.15.86,1.52h72.92l-2.67-4.52-65.97-111.8c20.17-6.06,35.73-16.54,46.29-31.2,11.18-15.51,16.84-33.14,16.84-52.41,0-16.74-4.04-32.1-12.01-45.67-7.99-13.6-20.12-24.54-36.03-32.5-15.81-7.9-35.15-11.91-57.49-11.91h0Zm-46.64,53.2h44.61c14.59,0,25.53,3.35,32.52,9.96,6.94,6.57,10.45,16.04,10.45,28.14s-3.53,22.15-10.5,28.99c-6.98,6.85-17.9,10.33-32.48,10.33h-44.61v-77.41h0Z"/>
                    </g>
                    <g class="logo-letter">
                        <path class="cls-4" d="m1188.1,440.55c-19.19,0-36.91-5-52.67-14.87-15.76-9.87-28.4-23.96-37.57-41.89-9.16-17.88-13.8-38.71-13.8-61.92s4.64-43.56,13.8-61.32c9.17-17.79,21.81-31.68,37.58-41.28,15.77-9.59,33.62-14.46,53.07-14.46,16.98,0,32.07,3.48,44.86,10.35,11.31,6.09,20.75,13.67,28.1,22.6v-29.28h60.37v228.42h-60.37v-29.9c-7.16,9.1-16.6,16.83-28.11,23.01-13.04,7-28.27,10.55-45.26,10.55Zm15.06-182.69c-10.25,0-19.86,2.53-28.55,7.53-8.68,5-15.81,12.4-21.21,22.02-5.41,9.63-8.15,21.23-8.15,34.46s2.75,24.98,8.16,34.88c5.4,9.89,12.61,17.57,21.42,22.83,8.8,5.26,18.33,7.93,28.32,7.93s20-2.6,28.96-7.74c8.94-5.13,16.14-12.6,21.4-22.21,5.28-9.63,7.95-21.37,7.95-34.88s-2.68-25.25-7.95-34.88c-5.27-9.61-12.47-17.08-21.4-22.21-8.95-5.13-18.69-7.74-28.96-7.74Z"/>
                        <path class="cls-2" d="m1188.51,206.31c16.81,0,31.53,3.4,44.15,10.17,12.62,6.79,22.72,15.33,30.31,25.64v-32.14h57.37v225.42h-57.37v-32.96c-7.32,10.58-17.43,19.33-30.31,26.24-12.89,6.92-27.74,10.37-44.55,10.37-18.99,0-36.28-4.88-51.88-14.64-15.6-9.77-27.94-23.53-37.03-41.3-9.09-17.76-13.63-38.18-13.63-61.23s4.54-42.99,13.63-60.63c9.09-17.63,21.43-31.19,37.03-40.69,15.6-9.49,33.02-14.24,52.29-14.24m14.65,182.69c10.58,0,20.48-2.65,29.7-7.93,9.22-5.29,16.54-12.88,21.97-22.79,5.43-9.9,8.14-21.77,8.14-35.6s-2.71-25.7-8.14-35.6c-5.43-9.9-12.75-17.5-21.97-22.79-9.22-5.29-19.12-7.94-29.7-7.94s-20.34,2.58-29.3,7.73c-8.95,5.15-16.21,12.68-21.77,22.58-5.56,9.91-8.34,21.63-8.34,35.2s2.78,25.43,8.34,35.6c5.56,10.17,12.88,17.97,21.97,23.4,9.08,5.43,18.78,8.14,29.09,8.14m-14.65-185.69c-19.73,0-37.84,4.94-53.85,14.68-16.01,9.75-28.84,23.84-38.13,41.88-9.27,17.97-13.97,38.84-13.97,62s4.7,44.5,13.96,62.6c9.29,18.18,22.11,32.47,38.1,42.48,16,10.02,33.99,15.1,53.47,15.1,17.24,0,32.71-3.61,45.97-10.73,10.31-5.54,18.99-12.3,25.9-20.18v27.25h63.37v-231.42h-63.37v26.76c-7.05-7.75-15.72-14.42-25.89-19.89-13.01-6.99-28.34-10.53-45.57-10.53h0Zm14.65,182.69c-9.72,0-18.99-2.59-27.55-7.71-8.58-5.12-15.61-12.61-20.88-22.26-5.29-9.68-7.98-21.17-7.98-34.16s2.68-24.32,7.96-33.73c5.26-9.37,12.21-16.59,20.65-21.45,8.46-4.87,17.81-7.33,27.8-7.33s19.49,2.54,28.21,7.54c8.69,4.98,15.7,12.26,20.83,21.63,5.15,9.41,7.77,20.9,7.77,34.16s-2.61,24.75-7.77,34.16c-5.13,9.36-12.14,16.64-20.83,21.63-8.72,5-18.21,7.54-28.21,7.54h0Z"/>
                    </g>
                    <g class="logo-letter">
                        <polygon class="cls-4" points="1434.04 436.89 1349.93 208.47 1414.2 208.47 1470.08 378.1 1525.96 208.47 1589.82 208.47 1505.3 436.89 1434.04 436.89"/>
                        <path class="cls-2" d="m1587.67,209.97l-83.41,225.42h-69.17l-83.01-225.42h61.03l56.97,172.93,56.97-172.93h60.63m4.31-3h-67.1l-.68,2.06-54.12,164.28-54.12-164.28-.68-2.06h-67.51l1.49,4.04,83.01,225.42.72,1.96h73.35l.72-1.96,83.41-225.42,1.5-4.04h0Z"/>
                    </g>
                    <g class="logo-letter">
                        <rect class="cls-4" x="1618.31" y="208.47" width="59.97" height="228.42"/>
                        <path class="cls-2" d="m1676.77,209.97v225.42h-56.97v-225.42h56.97m3-3h-62.97v231.42h62.97v-231.42h0Z"/>
                    </g>
                    <g class="logo-letter">
                        <path class="cls-4" d="m1813.9,436.89c-48.79,0-73.52-24.05-73.52-71.49v-107.14h-26.86v-49.79h26.86v-55.75h60.37v55.75h50.46v49.79h-50.46v107.55c0,7.12,1.69,12.3,5.01,15.38,3.36,3.11,9.24,4.69,17.49,4.69h27.95v51.01h-37.31Z"/>
                        <path class="cls-2" d="m1799.25,154.22v55.75h50.46v46.79h-50.46v109.05c0,7.6,1.83,13.09,5.49,16.48,3.66,3.4,9.83,5.09,18.51,5.09h26.45v48.01h-35.81c-48.01,0-72.02-23.32-72.02-69.99v-108.64h-26.86v-46.79h26.86v-55.75h57.37m3-3h-63.37v55.75h-26.86v52.79h26.86v105.64c0,24.06,6.36,42.45,18.92,54.64,12.53,12.17,31.4,18.34,56.11,18.34h38.81v-54.01h-29.45c-7.86,0-13.4-1.44-16.47-4.29-3.01-2.78-4.53-7.59-4.53-14.28v-106.05h50.46v-52.79h-50.46v-55.75h0Z"/>
                    </g>
                    <g class="logo-letter">
                        <path class="cls-4" d="m1978.68,440.55c-19.19,0-36.91-5-52.67-14.87-15.76-9.87-28.4-23.96-37.57-41.89-9.16-17.88-13.8-38.71-13.8-61.92s4.64-43.56,13.8-61.32c9.17-17.79,21.81-31.68,37.58-41.28,15.77-9.59,33.62-14.46,53.07-14.46,16.98,0,32.07,3.48,44.86,10.35,11.31,6.09,20.75,13.67,28.1,22.6v-29.28h60.37v228.42h-60.37v-29.9c-7.16,9.1-16.6,16.83-28.11,23.01-13.04,7-28.27,10.55-45.26,10.55Zm15.06-182.69c-10.25,0-19.86,2.53-28.55,7.53-8.68,5-15.81,12.4-21.21,22.02-5.41,9.63-8.15,21.23-8.15,34.46s2.75,24.98,8.16,34.88c5.4,9.89,12.61,17.57,21.42,22.83,8.8,5.26,18.33,7.93,28.32,7.93s20-2.6,28.96-7.74c8.94-5.13,16.14-12.6,21.4-22.21,5.28-9.63,7.95-21.37,7.95-34.88s-2.68-25.25-7.95-34.88c-5.27-9.61-12.47-17.08-21.4-22.21-8.95-5.13-18.69-7.74-28.96-7.74Z"/>
                        <path class="cls-2" d="m1979.09,206.31c16.81,0,31.53,3.4,44.15,10.17,12.62,6.79,22.72,15.33,30.31,25.64v-32.14h57.37v225.42h-57.37v-32.96c-7.32,10.58-17.43,19.33-30.31,26.24-12.89,6.92-27.74,10.37-44.55,10.37-18.99,0-36.28-4.88-51.88-14.64-15.6-9.77-27.94-23.53-37.03-41.3-9.09-17.76-13.63-38.18-13.63-61.23s4.54-42.99,13.63-60.63c9.09-17.63,21.43-31.19,37.03-40.69,15.6-9.49,33.02-14.24,52.29-14.24m14.65,182.69c10.58,0,20.48-2.65,29.7-7.93,9.22-5.29,16.54-12.88,21.97-22.79,5.43-9.9,8.14-21.77,8.14-35.6s-2.71-25.7-8.14-35.6c-5.43-9.9-12.75-17.5-21.97-22.79-9.22-5.29-19.12-7.94-29.7-7.94s-20.34,2.58-29.3,7.73c-8.95,5.15-16.21,12.68-21.77,22.58-5.56,9.91-8.34,21.63-8.34,35.2s2.78,25.43,8.34,35.6c5.55,10.17,12.88,17.97,21.97,23.4,9.08,5.43,18.78,8.14,29.09,8.14m-14.65-185.69c-19.73,0-37.84,4.94-53.85,14.68-16.01,9.75-28.84,23.84-38.13,41.88-9.27,17.97-13.97,38.84-13.97,62s4.7,44.5,13.96,62.6c9.29,18.18,22.11,32.47,38.1,42.48,16,10.02,33.99,15.1,53.47,15.1,17.24,0,32.71-3.61,45.97-10.73,10.31-5.54,18.99-12.3,25.9-20.18v27.25h63.37v-231.42h-63.37v26.76c-7.05-7.75-15.72-14.42-25.89-19.89-13.01-6.99-28.34-10.53-45.57-10.53h0Zm14.65,182.69c-9.72,0-18.99-2.59-27.55-7.71-8.58-5.12-15.61-12.61-20.88-22.26-5.29-9.68-7.98-21.17-7.98-34.16s2.68-24.32,7.96-33.73c5.26-9.37,12.21-16.59,20.65-21.45,8.46-4.87,17.81-7.33,27.8-7.33s19.49,2.54,28.21,7.54c8.69,4.98,15.7,12.26,20.83,21.63,5.15,9.41,7.77,20.9,7.77,34.16s-2.61,24.75-7.77,34.16c-5.13,9.36-12.14,16.64-20.83,21.63-8.72,5-18.21,7.54-28.21,7.54h0Z"/>
                    </g>
                    <g class="logo-letter">
                        <path class="cls-4" d="m2165.16,436.89v-228.42h59.97v31.46c7.04-10.11,15.91-18.29,26.44-24.34,11.98-6.88,25.85-10.37,41.23-10.37h1.5v62.81h-16.55c-17.43,0-30.71,4.11-39.47,12.21-8.73,8.08-13.15,22.49-13.15,42.84v113.8h-59.97Z"/>
                        <path class="cls-2" d="m2292.8,206.71v59.81h-15.05c-17.9,0-31.4,4.21-40.49,12.61-9.09,8.41-13.63,23.06-13.63,43.94v112.3h-56.97v-225.42h56.97v34.99c7.32-11.93,16.89-21.29,28.69-28.07,11.8-6.78,25.29-10.17,40.49-10.17m3-3h-3c-15.65,0-29.77,3.56-41.98,10.57-9.4,5.41-17.51,12.47-24.19,21.07v-28.38h-62.97v231.42h62.97v-115.3c0-19.92,4.26-33.96,12.67-41.74,8.47-7.84,21.41-11.81,38.45-11.81h18.05v-65.81h0Z"/>
                    </g>
                </g>
                <circle class="cls-8" cx="1648.29" cy="149.75" r="35.42"/>
            </svg>
        </a>

        {# Desktop-Nav #}
        <nav class="hidden md:flex space-x-6 items-center">
            <a href="{{ path('blog_tag_overview', { slug: 'ki' }) }}" class="text-[var(--color-gray-700)] hover:text-[var(--color-primary-700)] transition-colors">Künstliche Intelligenz</a>
            <a href="{{ path('blog_tag_overview', { slug: 'datenschutz' }) }}" class="text-[var(--color-gray-700)] hover:text-[var(--color-primary-700)] transition-colors">Datenschutz</a>
            <a href="{{ path('blog_tag_overview', { slug: 'softwareentwicklung' }) }}" class="text-[var(--color-gray-700)] hover:text-[var(--color-primary-700)] transition-colors">Development</a>
            <a href="{{ path('blog_post_list') }}" class="text-[var(--color-gray-700)] hover:text-[var(--color-primary-700)] transition-colors">Blog</a>
        </nav>

        {# Mobile-Burger #}
        <button data-action="menu#toggle" class="md:hidden focus:outline-none" aria-label="Menü öffnen">
            <svg class="w-6 h-6 text-[var(--color-gray-700)]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
        </button>
    </div>

    {# Mobile-Menu-Panel #}
    <div data-menu-target="panel" class="md:hidden hidden absolute top-full left-0 w-full bg-white shadow-lg z-50 transition-transform duration-300 ease-out transform translate-y-[-10px] opacity-0">
        <nav class="px-4 py-2 space-y-2" data-action="click->menu#toggle">
            <a href="{{ path('blog_tag_overview', { slug: 'ki' }) }}" class="block text-[var(--color-gray-700)] hover:text-[var(--color-primary-700)] transition-colors">Künstliche Intelligenz</a>
            <a href="{{ path('blog_tag_overview', { slug: 'datenschutz' }) }}" class="block text-[var(--color-gray-700)] hover:text-[var(--color-primary-700)] transition-colors">Datenschutz</a>
            <a href="{{ path('blog_tag_overview', { slug: 'softwareentwicklung' }) }}" class="block text-[var(--color-gray-700)] hover:text-[var(--color-primary-700)] transition-colors">Development</a>
            <a href="{{ path('blog_post_list') }}" class="block text-[var(--color-gray-700)] hover:text-[var(--color-primary-700)] transition-colors">Blog</a>
            <button type="button" class="block w-full text-left text-[var(--color-gray-700)] hover:text-[var(--color-primary-700)] transition-colors" data-action="search#toggle">Suche</button>
        </nav>
    </div>
</header>

<div data-search-target="form" class="hidden md:block">
    <div class="container mx-auto px-4 lg:px-8 py-4">
        <form action="{{ path('blog_post_search') }}" method="get" class="flex justify-center">
            <input type="text" name="q" value="{{ app.request.get('q') }}" placeholder="{{ 'blog.search.placeholder'|trans }}" class="w-full md:w-1/3 p-2 border border-[var(--color-gray-300)] rounded-l-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-primary-500)]" aria-label="Suche nach Blogbeiträgen"/>
            <button type="submit" class="btn-primary text-sm">{{ 'blog.search.submit'|trans }}</button>
        </form>
    </div>
</div>
