<p>{{ 'user.registration.email.greeting'|trans({}, 'messages') }} {{ user.username }},</p>
<p>{{ 'user.registration.email.intro'|trans({}, 'messages') }}</p>
<p><a href="{{ signedUrl|raw }}">{{ 'user.registration.email.cta'|trans({}, 'messages') }}</a></p>
